<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gskbyte.kora"
    android:versionCode="1" android:versionName="0.1">
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application android:label="@string/appName"
    	android:icon="@drawable/icon" 
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:debuggable="true">
        <activity android:name=".WelcomeActivity"
              android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".handlingActivities.DeviceSelectionActivity"
              android:label="@string/controlActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".settingsActivities.SettingsActivity"
              android:label="@string/settingsActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	<activity android:name=".settingsActivities.UsersActivity"
	              android:label="@string/usersActivity">
        	</activity>
        	<activity android:name=".settingsActivities.UseProfilesActivity"
	              android:label="@string/useProfilesActivity">
        	</activity>
        	<activity android:name=".settingsActivities.DeviceProfilesActivity"
	              android:label="@string/deviceProfilesActivity">
        	</activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />
</manifest> 