<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gskbyte.kora"
    android:versionCode="1"
    android:versionName="0.1">
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application android:label="@string/appName"
    	android:icon="@drawable/icon" 
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:debuggable="true">
        <activity android:name=".WelcomeActivity"
              android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".InfoDialogActivity"
            android:label="@string/controlActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name=".handling.DeviceSelectionActivity"
              android:label="@string/controlActivity">
        </activity>
        
        <activity android:name=".handling.DeviceHandlingActivity"
              android:label="@string/controlActivity">
        </activity>
        
        <activity android:name=".profilesActivities.ProfilesContainerActivity"
              android:label="@string/profilesActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	<activity android:name=".profilesActivities.users.UsersActivity"
	                  android:label="@string/usersActivity"/>
                <activity android:name=".profilesActivities.users.SelectionActivity"
                      android:theme="@android:style/Theme.Dialog"/>
	        	<activity android:name=".profilesActivities.users.AddEditActivity"
	        	      android:theme="@android:style/Theme.Dialog"/>
	            <activity android:name=".profilesActivities.users.CopyActivity"
                      android:theme="@android:style/Theme.Dialog"/>
            
        	<activity android:name=".profilesActivities.useProfiles.UseProfilesActivity"
	                  android:label="@string/useProfilesActivity"/>
                <activity android:name=".profilesActivities.useProfiles.SelectionActivity"
                      android:theme="@android:style/Theme.Dialog"
                      android:icon="@drawable/icon_use_profile"/>
                <activity android:name=".profilesActivities.useProfiles.AddEditActivity"
                      android:theme="@android:style/Theme.Dialog"/>
	                <activity android:name=".profilesActivities.useProfiles.InteractionActivity"
	                      android:theme="@android:style/Theme.Dialog"
	                      android:label="@string/interaction"
	                      android:icon="@drawable/icon_interaction"/>
	                  <activity android:name=".profilesActivities.useProfiles.VisualizationActivity"
                          android:theme="@android:style/Theme.Dialog"
                          android:label="@string/visualization"/>
                      <activity android:name=".profilesActivities.useProfiles.FeedbackActivity"
                          android:theme="@android:style/Theme.Dialog"
                          android:label="@string/feedback"/>
                      <activity android:name=".profilesActivities.useProfiles.SoundVoiceActivity"
                          android:theme="@android:style/Theme.Dialog"
                          android:label="@string/soundVoice"/>
                <activity android:name=".profilesActivities.useProfiles.CopyActivity"
                      android:theme="@android:style/Theme.Dialog"/>
	              
        	<activity android:name=".profilesActivities.deviceProfiles.DeviceProfilesActivity"
	              android:label="@string/deviceProfilesActivity"/>
    </application>
    <uses-sdk android:minSdkVersion="4" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.SET_ORIENTATION"></uses-permission>
</manifest> 